#mobile { display: none; }
a:link { color: #8d59be;}
a:hover { color: #be45cf;}

body {  background-image: url(waves.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; 
    color : #1254aa;
    font-family: Arial, Helvetica, sans-serif; }
main { padding-top: 1px; padding-right: 20px; padding-bottom: 20px; padding-left: 30px; display: block; background-color: #c0ddef; background-image: radial-gradient(#c0ddef, #b0aebb); 
         }
#wrapper { 
	margin: auto;  width: 80%; min-width: 960px; max-width: 2048px; 
    box-shadow: 5px 5px 5px black;
    border: 1px solid #000033; }
h1 {background-color: #c9bbae; background-image:url(montel%20header.jpg); background-size: contain; 
    color : #FFFFFF; margin-bottom: 0;
    height: 120px; text-align: center; padding-top: 30px;
    margin-top: 0; 
    font-family: abel; 
    font-size: 3em; letter-spacing: 0.25em; text-shadow: 2px 2px 2px black; background-size: 100% 100%; }

h4 { color : #668ca5;
    font-family: Georgia, "Times New Roman", sans-serif; font-size: 200%;
    text-shadow: 1px 1px 1px navy; }


.fortnite { color : #888b9c;
    font-weight: bold; text-shadow: 1px 1px 1px navy; font-size: 125%; font-family: 'Kavoon';font-size: 25px; letter-spacing: 2px;}
main ul { list-style-image: url(marker.gif); }
footer { font-size: 75%; 
    font-style: italic;
    font-family: Georgia, "Times New Roman", sans-serif;
    padding: 20px; text-align: center;
    }
#fort {height: 100%; width: 100%; background-size: contain;
    background-repeat: no-repeat;
    background-image: url(pic1.jpg); background-size: cover;
    color: white; 
    text-shadow: 2px 2px 2px black;
text-align: center;
    font-size: 3vw;
padding-top: 15%; padding-bottom: 15%; padding-left: 15%; padding-right: 15%; border: 10px solid #36454f;}
* { box-sizing: border-box; }
header, main, nav, footer, figure, figcaption, aside, section, article { display: block; }
@media only screen and (max-width: 64em) 
{ 
    body { margin: 0;  }
    #wrapper { min-width: 0; width: auto; box-shadow: none; border: none; }
    header { padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 0; height: auto; }
    h1 { letter-spacing: 0.1em; }
    main { margin-left: 0; }
    nav { float: none; width: auto; text-align: center; padding: 0.5em; }
    nav li { display: inline; padding-top: 0.25em; padding-bottom: 0.25em; padding-left: 0.75em; padding-right: 0.75em; }
    footer { margin: 0; } 
	
}
@media only screen and (max-width: 37.5em) 
{
    main { padding-top: 0.1em; padding-bottom: 0.1em; padding-left: 1em; padding-right: 1em; font-size: 90%; }
    h1 { font-size: 2em; }
    nav { padding: 0; text-decoration: none;}
    nav li { display: block; margin: 0; border-bottom: none; text-decoration: none;}
    nav a { display: block; text-decoration: none;}
    #mobile { display: inline; }
    #desktop { display: none; }
    }
.column {
    float: left;
    width: 33.33%;
    padding: 5px;

}
.row::after {
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
nav {   background-color: #c9bbae; background-image: radial-gradient(#c9bbae, #000033); 
	text-shadow: 2px 2px 2px black;
	   letter-spacing: 0.1em;
	   font-weight: bold;
	   text-align: right; 
	   padding-right: 2em;
	   position: fixed; border-top-left-radius: 90px; border-top-right-radius: 90px; border-bottom-left-radius: 90px; border-bottom-right-radius: 90px; border: 1px solid  #00005D; z-index: 5;
} 
nav ul { list-style-type: none; 
        margin: 0;
}
nav li { padding: 0.5em;
      display: inline-block; text-decoration: none;
}
nav a { text-decoration: none; 
       display: block;
}
nav a:link { color: #FFFFFF; }
nav a:visited { color: #EAEAEA; }
nav a:hover {  color: #D3DBEB; }
nav ul ul { position: absolute;
		background-color: #3181c0; background-image: radial-gradient(#3181c0, #75596f);
    	 padding: 0;
         display: none; 
		 text-align: left; 
}
nav ul ul li { border: 1px solid  #00005D;
 		 display: block;
         width: 8em;
         padding-left: 1em;
         margin-left: 0; 
}
nav li:hover ul { display: block; }
p1 {font-style: italic; font-family: 'Cormorant Upright';font-size: 5vw; font-weight: bold;}
p { font-size: 115%;}
img { border: 10px solid #36454f; }
#gallery { position: relative; padding-bottom: 400px; margin-bottom: 100px; font-family: 'Cormorant Upright';font-size: 22px; font-weight: bold;}
#gallery ul {list-style-type: none;
    width: 300px; 
}
#gallery li { display: inline; 
     float: left;
	 padding: 10px; 
}
#gallery img { border-style: none;
}
#gallery a { text-decoration: none;
             font-style: italic;  
             
}
#gallery span { position: absolute;
                left: -1000px;
               opacity: 0;
              transition:  opacity 3s ease-in-out; 
}
#gallery a:hover span {     
			position: absolute;
			top: 16px;
			left: 320px; 
			text-align: center; 
            opacity: 1; 
}
figure {    position: absolute;
			left: 280px; 
			text-align: center; 
            opacity: .25;
}
table { border-collapse: collapse; border: 2px solid #36454f; }
td, th { padding: 0.5em; border: 5px solid #36454f; font-family: 'Cormorant Upright';font-size: 22px; font-weight: bold;}
td { text-align: center; }
.text { text-align: left; }
tr:nth-of-type(odd) { background-color:  #ccdaf7; background-image: radial-gradient( #ccdaf7, #c9bbd4)}
tr:nth-of-type(even) {  background-color: #ccdaf7; background-color: #3181c0; background-image: radial-gradient(#ccdaf7, #a5a3cb) }


label { float: left; display: block; text-align: right; width: 120px; }
input { display: block; margin-bottom: 20px; }
input[type="submit"] { margin-left: 130px; }
@media only screen and (max-width: 37.5em) { 
    label { float: none;
            text-align: left; }
    input[type="submit"] { margin-left: 0; }
    
}
h4 {
    font-family: 'Bungee Inline';font-size: 25px;
}
p {font-family: 'Cormorant Upright';font-size: 22px; font-weight: bold;}
a:link { text-decoration: none;}

#minigallery { display: none;}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	th {display: none;}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		
	}
	
	td:before { 
		
		position: absolute;
		
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	